/**
 * Colors
 */

$body-bg:         #F1F2F9;

$brand-clear:     #FFFFFF;
$brand-primary:   #515CED;
$brand-secondary: #41537C;

/**
 * Breakpoints
 */
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$breakpoints: (phone: $screen-xs, tablet: $screen-sm, desktop: $screen-md, large: $screen-lg);